
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Condiciones</h2>
          <ol>
            <li><a href="<?php echo site_url('inicio/info'); ?>">Inicio</a></li>
            <li>Condiciones</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Features Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Condiciones</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            <h2>Condiciones para usar Latin Club</h2>
            <h3>Por que somos tu mejor opcion</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <ul>
              <li><i class="ri-check-double-line"></i> El hecho de registrarse en nuestra web y formar parte de www.latinclub.net implica conocer y aceptar todas las condiciones establecidas en la misma, así como el reglamento de cada una de las formas de juego en ella existente.</li>
              <li><i class="ri-check-double-line"></i>Sólo se podrán registrar y jugar personas mayores de 18 años.</li>
              <li><i class="ri-check-double-line"></i>Los pagos, retiros de saldo y/o premios sólo se realizarán hacia la cuenta bancaria de la persona registrada en nuestro sistema y dicha cuenta bancaria debe coincidir en todos sus datos con los datos del usuario registrado en www.latinclub.net</li>
              <li><i class="ri-check-double-line"></i>Los pagos, retiros de saldo y/o premios serán procesados regularmente el mismo día que sean solicitados, pudiendo tardar según sea el caso (relaciones entre bancos) hasta 72 horas como máximo para hacerse efectivo en su cuenta.</li>
                <li><i class="ri-check-double-line"></i>Las transferencias por retiro de saldo se procesarán una vez concluida la jornada de carreras. El usuario puede solicitar un retiro de saldo en cualquier momento, pero los mismos serán procesados después de la confirmación de la última carrera.</li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  