<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Latin Club - Inicio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="<?php echo base_url(); ?><?php echo base_url(); ?>assets_landing_page/img/favicon.png" rel="icon">
  <link href="<?php echo base_url(); ?>assets_landing_page/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="<?php echo base_url(); ?>assets_landing_page/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="<?php echo base_url(); ?>assets_landing_page/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="<?php echo base_url(); ?>assets_landing_page/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="<?php echo base_url(); ?>assets_landing_page/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="<?php echo base_url(); ?>assets_landing_page/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="<?php echo base_url(); ?>assets_landing_page/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="<?php echo base_url(); ?>assets_landing_page/vendor/aos/aos.css" rel="stylesheet">
  <link href="<?php echo base_url(); ?>assets_landing_page/vendor/remixicon/remixicon.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="<?php echo base_url(); ?>assets_landing_page/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Company - v2.2.1
  * Template URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

    <a href="<?php echo site_url('inicio/info'); ?>" class="logo mr-auto"><span class="text-primary">Latin</span>Club</a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="<?php echo site_url('inicio/info'); ?>">Inicio</a></li>
          <li><a href="<?php echo site_url('inicio/reglamentos'); ?>">Reglamentos</a></li>
          <li><a href="<?php echo site_url('inicio/condiciones'); ?>">Condiciones</a></li>
          <li><a href="<?php echo site_url('inicio/contacto'); ?>">Contactos</a></li>
          <li><a href="<?php echo site_url('inicio/clubes'); ?>" class="btn btn-success mr-2 ml-2 pl-2 pr-2 pt-0 pb-0 text-white">Ingresar</a></li>

        </ul>

      </nav><!-- .nav-menu -->

      <div class="header-social-links">
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
      </div>

    </div>

  </header><!-- End Header -->